@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
       

        *{
            font-family: 'Roboto', sans-serif;
            display: block;
            margin: 0 auto;
            text-wrap: balance;
            text-align: center;
        }

        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }

        body {
            background-color: black
        };